---
permalink: /diary/
layout: page
title: Diary
description: A list of diaries I wrote.
---

{% for post in site.diary %}
  {% unless post.title == page.title %}

  {{ post.url }}

  <!-- article -->
  <div class="article">
    <a class="clearlink" href="{{ post.url | relative_url }}">
      <h1>{{ post.title }}</h1>
      <div class="a-content">
        <div class="a-content-text">
          {% if post.lang == "en" %}
          <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
          {% elsif post.lang == "ja" %}
          <p>{{ post.content | strip_html | truncate: 75 }}</p>
          {% endif %}
        </div>
      </div>
    </a>
    <div class="read-more clearfix">
      <div class="more-left left">
        <a href="{{ post.url | relative_url }}">Read more</a>&nbsp;&nbsp; 
        <span class="date"><time>{{ post.date | date: '%B %d, %Y' }}</time></span>
        <span>category:&nbsp;</span> 
        <span class="posted-in"><a href="{{ "/categories/" | absolute_url}}#{{ post.categories }}">{{ post.categories }}</a>
        </span>
      </div>
      <div class="more-right right"> 
        <span class="comments"><a href="{{ post.url | relative_url }}#disqus_thread">comments</a></span>
    </div>
    </div>
  </div>
  {% endunless %}
{% endfor %}
